@using System.Text
@model IEnumerable<Troja.Models.Book>

@{
    ViewData["Title"] = "Books";
    var currentStatusFilter = ViewData["CurrentStatusFilter"] as string;

    // Construir las opciones del select
    var statusOptions = new StringBuilder();
    statusOptions.Append("<option value=\"\">All Status</option>");
    statusOptions.Append($"<option value=\"1\" {(currentStatusFilter == "1" ? "selected" : "")}>Available</option>");
    statusOptions.Append($"<option value=\"0\" {(currentStatusFilter == "0" ? "selected" : "")}>Unavailable</option>");
}

<h1>Books</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Book</a>
</p>

<form asp-controller="Books" asp-action="Index" method="get">
    <div class="input-group">
        <input type="text" name="titleSearch" value="@ViewData["CurrentTitleFilter"]" class="form-control" placeholder="Search by title">
        
        <select name="statusSearch" class="form-control ml-2">
            @Html.Raw(statusOptions.ToString())
        </select>

        <input type="submit" value="Search" class="btn btn-md btn-dark ms-2">
        <a href="@Url.Action("Index")" class="btn btn-md btn-secondary ms-2">Back</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Author.AuthorName)</th>
            <th>@Html.DisplayNameFor(model => model.PublicationDate)</th>
            <th>@Html.DisplayNameFor(model => model.ISBN)</th>
            <th>@Html.DisplayNameFor(model => model.StatusValue)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author.AuthorName) @Html.DisplayFor(modelItem => item.Author.AuthorLastName)</td>
                <td>@Html.DisplayFor(modelItem => item.PublicationDate)</td>
                <td>@Html.DisplayFor(modelItem => item.ISBN)</td>
                <td>
                    @if (item.StatusValue == "1")
                    {
                        <span class="badge badge-success">Available</span>
                    }
                    else
                    {
                        <span class="badge badge-danger">Unavailable</span>
                    }
                </td>
                <td>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookId">Details</a>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
