@model IEnumerable<Troja.Models.Author>

@{
    ViewData["Title"] = "Authors Index";
    // Recuperar el valor actual del filtro desde ViewData
    var currentFilter = ViewData["CurrentFilter"] as string;
}

<h1>Authors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<form asp-controller="Authors" asp-action="Index" method="get">
    <p>
        <input type="text" name="search" class="form-text" placeholder="Type author name or last name"value="@currentFilter" />
        <input type="submit" value="Search" class="btn btn-sm btn-secondary" />
        <a href="@Url.Action("Index")" class="btn btn-sm btn-dark ml-2">Back</a>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorLastName)
            </th>
            <th>Books</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorLastName)
                </td>
                <td>
                    <a asp-action="BooksByAuthor" asp-route-authorId="@item.AuthorId" class="btn btn-info">View Books</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.AuthorId" class="btn btn-success">Details</a>
                    <a asp-action="Edit" asp-route-id="@item.AuthorId" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AuthorId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>